---
- name: Create or remove the superadmin group
  group:
    name: "{{ superadmin_group }}"
    state: present

- name: Configure sudo for the superadmin group
  template:
    src: sudoers-superadmin.j2
    dest: /etc/sudoers.d/superadmin
    mode: '0660'
    validate: /usr/sbin/visudo -cf %s

- name: Create or remove the admin group
  group:
    name: "{{ admin_group }}"
    state: present

- name: Configure sudo for the admin group
  template:
    src: sudoers-admin.j2
    dest: /etc/sudoers.d/admin
    mode: '0660'
    validate: /usr/sbin/visudo -cf %s
