# BEGIN ANSIBLE MANAGED BLOCK

# Allow members of the admin group to execute any command
%{{ admin_group }} ALL=(ALL:ALL) {% if admin_ask_pass == false %} NOPASSWD: {% endif %} ALL

# END ANSIBLE MANAGED BLOCK
